@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.header .nav {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
}
